# Node / NestJS (Backend)
**/node_modules/
**/dist/
**/.npm
**.log
**/coverage/
**/reports/
**/*.tsbuildinfo

# Environment variables
**/.env
**/.env.local
**/.env.docker
**/.env.test
!**/.env.example
!**/.env.test.example

# Flutter (Mobile)
**/flutter/.dart_tool/
**/flutter/.idea/
**/flutter/.packages
**/flutter/.pub-cache/
**/flutter/.pub/
**/flutter/build/

# Cypress (E2E)
**/cypress/screenshots/
**/cypress/videos/

# SonarQube & Quality
.scannerwork/
.sonar/

# IDEs & System
.DS_Store
Thumbs.db
*.tmp